footer {
    display: flex;
    background-color: #000000;
    color: #fff;
    position: fixed;
    padding: 5px;
    bottom: 0;
    right: 0;
    z-index: 1.5;
}

footer-icon .sym{
    display: flex;
    align-items: center;
    
}

.sym .graphic{
    color: #ffffff;
    font-size: 28px;
    margin-right: 10px;
    cursor: pointer;
  }

button :hover{
    background-color: #ade9c8;
    color: #000000;
 }

  button{
    background-color: transparent;
    border-color: #000000;
  }


/*
footer button {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

footer button:hover {
    color: #ccc;
}
*/