/*Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100%;
  background: #eff5f9;

}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

nav.logo{
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon{
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name{
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

nav .sidebar{
  position: fixed;
  top: 0;
  left: 0; 
  height: 100%;
  width: 260px;
  padding: 20px ;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0,0,0,0.1);
  z-index: 1.5;
}

.sidebar .sidebar-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between; 
  padding: 30px 16px;
}

.sidebar-content .list{
  list-style: none;
}

.list .nav-link{
  display: flex;
  align-items: center;
  padding: 14px 12px;
  border-radius: 8px;
  background-color: #fff;
  text-decoration: none;
}

.nav-link:hover{
  background-color: #ade9c8;
}

.nav-link .icon{
  margin-right: 14px;
  font-size: 20px;
  color: #000000;
}

.nav-link .link{
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.nav-link:hover .icon,
.nav-link:hover .link{
  color: #fff;
}


  
  